language: scala
scala:
- 2.11.12
- 2.12.11
- 2.13.2
jdk:
- openjdk8
branches:
  only:
  - master
before_install:
- export PATH=${PATH}:./vendor/bundle
install:
- rvm use 2.6.5 --install --fuzzy
- gem update --system
- gem install sass
- gem install ruby_dep -v 1.4.0
- gem install jekyll -v 4.0.0
before_script:
- if [ $TRAVIS_PULL_REQUEST = 'false' ]; then git checkout -qf $TRAVIS_BRANCH; fi
script:
- if [ $TRAVIS_SCALA_VERSION = '2.12.11' ];
    then sbt ++$TRAVIS_SCALA_VERSION ciMicrosite;
    else sbt ++$TRAVIS_SCALA_VERSION ci;
  fi
- find $HOME/.sbt -name "*.lock" | xargs rm
- find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
after_success:
- bash <(curl -s https://codecov.io/bash)
- find $HOME/.sbt -name "*.lock" | xargs rm
- find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/scala-$TRAVIS_SCALA_VERSION"
env:
  global:
  - secure: RML2z4udWzNCcuyZYehPvuYJj3wZaXsQXypH1/B0fOdhMhpMDyLReE8WaH4tAGUttJCpUnVoFAnq1IiDQbsuAAn+Ocs7n+mOmL2ez2Jq9X+Tb6lEGo/8R/oYh7byOrWU62BYesazhjwPp4lkGA6tEpc/ks3jK2Y8BAguL3AJ+JkOo9YILwAFy/QhbJqmT9n1WF8l2ZHMKQy8RyVw8sz64PdK+OoEEGnTHTCbzpvQX7VVmKJXunZxv+TCdtixFE83CKRsc0w8LQZlptYqJT8LcW3Kpd1r22buxkl2OxcddJV6o3g9eXDzPs6vjq0b2e/lqoIU4yZEfPsMzJX3QfcikJLQGZ3yQGzqoffPOJp1kIMy9Tr4h0VQORKdbHeeyIrbxaXLYKClwyBLfnwZCcf2oMc4l/+c2frSkUTXj+8A4BewLbCh4tuna+nUbrB7vfroSuFiLwYHdX8U4kGnzbyAHRZt2ns32EwS05wZgmZJrT/QfbsOyPjA2maZjUJxrqq9vgMr4LQAVd1ArCwqUEwlCq9HiFTOwKuhd9T6UrhXgsRQCM6USzYYrwoP0UxCyJj211XhbeZmF01Yte0i3SM6MfAbXefFgib6L+28gnx3ImCOAhiPgh5UiI74t5pB7+Ha9+2R8CMbUAwjXzEA22rVzMegjX4GxDyqkDinlDUYBF4=
  - secure: CD3p2ZtmJ1hNTHP4Wfv2B70RZIcQ9q/fedti/LX6Eb6KTyUrhA5eoIrAk5W/AeKWJ38Qp5dNCr1kpXuUB245OSfRhcqwHfepXEGJvfN6+uz90PioZINvjSGbGpoCm2KL7Ajg6kDK8T53TKwFzc+BoQOl1aoCBAm8GJAM903c+1SbsDNR99BTuO9jbMgRgiynJkLuVyrbcqPekrguVI+7oODiaSNJnB9uHSHxboiXelieLTKtPl3898JsrKgYtb98lzLFYVhOmsg9WuNFLX+UIV36/jM0Fe37Dpz2GlZkXLtDEQILrayuLLOPMPtdVovMj/4V+JJSCCU5cwuz4UJxbbW9Jf+M++Drwbqd8fuKJSsI0iUQVBsPJN5RhEabXHFyVDAO78cYlfopFrlxtD96Hu5c/RgarAiE8CPQtydNWmHfu/3x3sy4+QM8gwbNYsvhrlANSW4YnM56D9xn0RUbnOIttTgYK8zQuTdmtivNBIDiMHbHAuEjKEjqzCnf+Gxi5tiwt1sz/bVD252QmvzmFf+6X4OFJC8pN3xA0mbWjHnx8zpSKTAK2zVbMe9+KbGOZSErSTE+STXz6hAk9t+GlP+CuOLnSWDX4P4+UIMEssTPVPCLqWTTyr5YcJm+CCIHGKbkVpidrw9lAJl5j3Iuak7jWTUQl1K3oJdWfLgum9E=
  - secure: fwdSMCBMQChUg53G6yGYSmdFm8+YCnOE83AGii3PJwDocFdJ98R2aWSJAniZnszwzeHvHHANgYtnTg5YmkRIB4rBlqdTLtsFlN464aWDKSFa1IEYp7XtvX8XgRBO/bOZt0BL5pdHa0BHHuJQW0jQ3YQuVx92HOz63gL+fk7igOCIyLZx3Hf4WetP07JwQkEe9iAPLLS63GC7GkSWHVaUzCQTNPMxz88aOFP+w/RvPMnEg6eArZ1luVN1dfOzWyHIB+LL8/TGRxZGglzrcOwkNV9nrJlK7JluQfoYXoEDKNMNqL1bm6hRm+GWuHKmEDdDANuMiQgiXVopIOFrofab4Npv9iYHmkXbYJLe8KgW/OmYFA2lOVO1M+zts/pZqEJiSROK0loMZW2V2N+YS75XTRw3/8Q3aVAgPtgmiAFNXt1uOsKvToBXB8no80DmGrq4l1IdCrgxUBy3NPiVfyruvaqoVQENILhg2TbomrYxdmEg96Ym7YrTn6p1BkVk7iolVoc9mMhKdeWh2eD7Mzm9K981AivdhLBYUXnLQ67bbEE4U8nzduRDsN/Zs0jatxIqkgg6KRCFbkWDIIuRaLrrvjhWckVt4qSXVU/FgmQRASeVWVmFPlIQCm+yuMSgKY/Zd2es/T0EASHeUgruRzLBLoouwNLc47RZJ4CfLu+nNMY=
