name: Feature CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.2.3'
    - name: Install Jekyll
      run: gem install jekyll -v 3.2.1
    - name: Run tests
      run: sbt clean compile coverage test makeMicrosite coverageReport
